.detailpro-item{
    margin-left: 30%;
    margin-top: 3%;
    font-size: large;
}

.detailpro-item-active{
    margin-left: 30%;
    margin-top: 3%;
    font-size: large;
    color: #48a97b;
}

input[type="radio"]{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
    margin-right: 1%;
}

input[type="radio"]:checked{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
    margin-right: 1%;
    background-color: #48a97b;
}