.detailpro-item{
    margin-left: 30%;
    margin-top: 3%;
    font-size: large;
}

.detailpro-item-active{
    margin-left: 30%;
    margin-top: 3%;
    font-size: large;
    color: #48a97b;
}

input[type="radio"]{
    border: 0px;
    width: 2%;
    height: 2em;
}