.detailpro-item{
    margin-left: 30%;
    margin-top: 3%;
    font-size: large;
}

.detailpro-item-active{
    margin-left: 30%;
    margin-top: 3%;
    font-size: large;
    color: #48a97b;
}

input[type="radio"]{
    width: 3%;
    height: 1.2em;
    margin-right: 1%;
}