.dropdowns-box{
    margin: 0px 33%;
    padding-top: 10px;
    padding-bottom: 1px;
    width: 40%;
    background-color: #395f8c;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;

}

.dropdowns-title{
    font-family: "Inter";
    font-style: bolder;
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    align-items: center;
    color: white;
    margin-left: 40px;
}

#icons{
    color: white;
    position:absolute;
    right:430px;
}


@media only screen and (max-width: 700px) {
    
    .dropdowns-title{
        font-size: 16px;
        margin-left: 15px;
    }
    
    .dropdowns-box{
        margin-left: 60px;
        width: 75%;
    }
    #icon{
        opacity: 0;
    }
  }
@media only screen and (max-width: 450px) {
    .dropdowns-title{
        font-size: 11px;
        margin-left: 0;
    }
    .dropdowns-box{
        margin-left: 30px;
        width: 60%;
    }

    #icon{
        opacity: 0;
    }
}