.SkillsList-box{
    margin-left: 515px;
}

.skill-item-active{
    background: #48a97b;
    border: 1px solid #48a97b;
    box-sizing: border-box;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    display: flex;
    padding: 10px;
    padding-right: 32px;
    width: fit-content;
    margin-right: 10px;
    margin-bottom: 5%;
}

#skill_icons2{
    color: white;
    position:absolute;
    margin-top: 5px;
    margin-left: 11px;
    margin-right: 5px;
}

#skill_icons1{
    color: #8692a6;
    position:absolute;
    margin-top: 5px;
    margin-left: 11px;
    margin-right: 5px;
}


.skill-item{
    opacity: 0.8;
    background: #f0f0f0;
    border: 0.2px solid #f0f0f0;
    box-sizing: border-box;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    display: flex;
    padding: 10px;    
    padding-right: 32px;
    width: fit-content;
    margin-right: 10px;
    margin-bottom: 10px;
}


.skill-item-paragraph-active{
    font-family: "Inter";
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: white;
}

.skill-item-paragraph{
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    opacity: 0.8;
    color: #8692a6;
}


@media only screen and (max-width: 700px) {
    h2{
        font-size: 20px;
    }
    .skill-item-paragraph-active{
        font-size: 10px;
    }
    
    .skill-item-paragraph{
        font-size: 10px;
    }
    .skills-question{
        font-size: 14px;
    }
    
  }
@media only screen and (max-width: 450px) {
    h2{
        font-size: 14px;
    }
    .skill-item-paragraph-active{
        font-size: 8px;
    }
    
    .skill-item-paragraph{
        font-size: 8px;
    }
    .skills-question{
        font-size: 10px;
    }
}

input[type="checkbox"] { /* change "blue" browser chrome to yellow */
    filter: invert(20%) hue-rotate(15deg) brightness(1.4);
  }
